@import "tailwindcss";

.btn-primary {
    background-color: var(--primary);
    color: var(--textPrimary);
    @apply px-4 py-2 font-medium rounded-lg transition duration-200 ease-in-out;
}

.btn-primary:hover {
    background-color: var(--primary);
    opacity: 0.8;
}

.btn-primary:disabled {
    opacity: 0.5; /* opacity-50 */
    cursor: not-allowed; /* cursor-not-allowed */
}

.btn-highlight {
    background-color: var(--highlight-light);
    color: var(--textHighlight);
    @apply  px-4 py-2 font-medium transition duration-200 ease-in-out rounded-2xl;
}

.btn-highlight:hover {
    background-color: var(--highlight-light);
    opacity: 0.8;
}

.btn-highlight:disabled {
    opacity: 0.5; /* opacity-50 */
    cursor: not-allowed; /* cursor-not-allowed */
}


.card-inline {
    border: solid;
    border-width: 1px;
    background-color: transparent;
    border-color: var(--primary);
    border-radius: 18px; /* Very small round corner */
}

.card-dark {
    border: none;
    border-radius: 18px; /* Very small round corner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Light box shadow */
    background-color: rgb(215, 227, 224); /* 50% transparent */
    backdrop-filter: blur(10px); /* Optional for a glassmorphic effect */
}

.card-light {
    border: none;
    border-radius: 18px; /* Very small round corner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Light box shadow */
    background-color: rgba(242, 247, 245, 1);
    backdrop-filter: blur(10px); /* Optional for a glassmorphic effect */
}

.card-lighter {
    border: none;
    border-radius: 18px; /* Very small round corner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Light box shadow */
    background-color: rgb(255, 255, 255); /* 50% transparent */
    backdrop-filter: blur(10px); /* Optional for a glassmorphic effect */
}

.required-label::after {
    content: " *";
    color: red;
}

.scrollbar-hide::-webkit-scrollbar {
    width: 6px;
}
.scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 4px;
}
.scrollbar-hide::-webkit-scrollbar-track {
    background: transparent;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
}

.text-field {
    background-color: white;
    @apply min-h-24
}
